body{
    background: rgb(55, 116, 228);
    font: normal 15pt Arial;
}
header{
    color: #fff;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.39) 5px 5px 10px ;
}
footer{
    color: #fff;
    text-align: center;
    font-style: italic;
}
