*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body{
    padding: 1rem ;
}
h1{
    margin-bottom: 1rem;
}

button {
    padding: .6rem 1.2rem;
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    opacity: .8;
    font-size: 1rem;
    transition: .5s;
}

#open-modal{
    background-color: #007bff;
}

button:hover{
    opacity: 1;
}


#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    z-index: 10;
    border-radius: .5rem;
}
#fade, #modal{
    transition: .5s;
    pointer-events: all;
    opacity: 1;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

main p{
    margin-bottom: 1rem;
}
#modal.hide, #fade.hide{
    opacity: 0;
    pointer-events: none;
}
.modal .hide{
    top: 0;
}